<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" th:href="@{/css/reply.css}">
        
        <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
    </head>
    <body>
    	<div layout:fragment="content">
	<div class="container">
		<div class="list-group" id="reply-list">
			<div class="list-group-item reply-block">
				<th:block id="id1">
				<small> <span style="font-weight: bold">hello1</span></small>
				<div class="reply-date">regdate1</div>
				<div class="reply-text">reply1</div>
				<div class="bottom-reply">
					<ul class="reply-actions">
						<li class="modify-reply" th:value="rno1">modify</li>
						<li class="delete-reply" th:value="rno1">delete</li>
					</ul>
				</div>
			</th:block>
		</div>
		<div class="pull-right">
			<button class="btn " id="addReplyBtn">Add Reply</button>
		</div>
	</div>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var str = '<div class="list-group-item reply-block" th:id="id2">'
				+ '<small><span style="font-weight:bold">replyer</span></small>'
				+ '<div class="reply-date">regdate2</div>'
				+ '<div class="reply-text">reply2</div>'
				+ '<div class="bottom-reply">'
				+ '<ul class="reply-actions">'
				+ '<li class="modify-reply" th:value="rno2"> modify </li>'
				+ '<li class="delete-reply" th:value="rno2"> delete </li>'
				+ '</ul>' + '</div>' + '</div>';
			$("#reply-list").prepend(str);
		});
	</script>
	</th:block>
    </body>
</html>